.userPanel{
    display: flex;
    height: 100vh;
    width: 100%;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    font-family: "poppins","sans serif";
    position: relative;
}

.userPanel>*{
    flex-basis: 0;
    flex-grow: 1;
}

.userPanel .menu{
    flex-grow: 0.7;
}

