.menuTable{
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: flex-start;
   
    min-width: 649px;
}
.menuTable .row ,.menuTable .header{
    display: flex;
    flex-direction: row;
    width: 100%;
    --bs-gutter-x: 0;
}
.menuTable .row>*,.menuTable .header>*{
    flex-basis: 0;
    flex-grow: 1;
    margin: 4px;
}
.menuTable .row>*{
    box-sizing: border-box;
    padding: 10px;
}
.menuTable .header{
    position: sticky;
    top: 0;
    background-color: white;
    z-index: 10;
    border-bottom: 2px solid black;
    /* margin-bottom: 4px; */   
}
.menuTable .header>*{
    padding: 0 4px;
    display: flex;
    align-items: center;
}

.menuTable .addButton{
    flex-grow: 0;
    font-size: 28px;
    border: 2px solid green ;
    color:green;
    border-radius: 5%;
}

.menuTable .trashButton{
    flex-grow: 0;
    border: 1px solid red ;
    color:rgb(224, 13, 13);
    border-radius: 5%;
    height: 1.3em;
}
.menuTable .saveButton{
    flex-grow: 0;
    border: 1px solid green ;
    color:green;
    border-radius: 5%;
    height: 1.3em;
}
.menuTable .addButton:hover{
    background-color: green;
    color: white;
}
.menuTable .trashButton:hover{
    background-color: rgb(224, 13, 13);
    color: white;
}
.menuTable .saveButton:hover{
    background-color: green;
    color: white;
}
