.menuTable{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding:6px;
    min-width: 649px;
}
.menuTable .row ,.menuTable .header{
    display: flex;
    flex-direction: row;
    width: 100%;
}
.menuTable .row>*,.menuTable .header >*{
    flex-basis: 0;
    flex-grow: 1;
    margin: 4px;
}
.menuTable .row>*{
    box-sizing: border-box;
    padding: 10px;
}
.menuTable .header{
    border-bottom: 2px solid black;
    margin-bottom: 4px;
}
.menuTable .header>*{
    padding: 0 4px;
}

.menuTable .addButton{
    flex-grow: 0;
    font-size: 28px;
    border: 2px solid green ;
    color:green;
    border-radius: 5%;
}

.menuTable .trashButton{
    flex-grow: 0;
    border: 1px solid red ;
    color:rgb(224, 13, 13);
    border-radius: 5%;
}
.menuTable .saveButton{
    flex-grow: 0;
    border: 1px solid green ;
    color:green;
    border-radius: 5%;
}
.menuTable .addButton:hover{
    background-color: green;
    color: white;
}
.menuTable .trashButton:hover{
    background-color: rgb(224, 13, 13);
    color: white;
}
.menuTable .saveButton:hover{
    background-color: green;
    color: white;
}
