.changePassword{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.changePassword>*{
    padding: 4px;
    margin: 10px 0 ;
}

.changePassword .changeButton{
    background-color: rgb(122, 255, 122);
    color: black;
    padding: 8px 20px;
    user-select: none;
    cursor: pointer;

}
.changePassword .changeButton:hover{
    background-color: rgb(32, 235, 167);
}